* {
    margin: 0;
}

body {
    font-weight: bold;
    font-family: poppins;
}

/* header */
.header_logo {
    background-color: #22385B;
    display: flex;
}

.sponsor{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    width: 1100px;
}

.sponsor img {
    width: 200px;
}

.logo_sibir {
    padding-left: 20px;
}

.sostav {
    color: white;
    font-size: 2em;
    margin: 20px;
    margin-left: 200px;
    padding-right: 10px;
}

.form {
    color: white;
    font-size: 2em;
    margin: 20px;
}
/* header */


/* homepage */
.home_page {
    background-color: #005697; 
    width: 100%;
    height: 50em;
}

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
    align-items: center;
    
}

.text_title {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts1 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title{
    font-size: 4em;
    /* padding-left: 25%;
    padding-right: 25%; */
    text-align: center
}

.info_title {
    font-size: 200%;
    margin: 5px;
}

.s1 {
    width: 30%;
    height: 70%;
}

.s2 {
    width: 30%;
    height: 90%;
}
/* homepage */



/* info */
.info {
    background-color: #559DD5; 
}

.title2 {
    font-size: 50px;
    margin-left: 47%;
    padding-top: 20px;
}

.info_place {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.info_text {
    max-width: 900px;
    font-size: 40px;
}

.info_photo {
    width: 650px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.s3 {
    width: 100%;
    height: 380px;
}

.s4 {
    width: 100%;
    height: 380px;
}

/* info */


/* photo */
.photo{
    background-color: #005697;
}

.title3 {
    font-size: 50px;
    margin-left: 47%;
    padding-top: 20px;
}

.all_photos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1200px;
}

.photos1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photos3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.s5 {
    width: 600px;
    height: 350px;
}

.s6 {
    width: 600px;
    height: 350px;
}

.s7 {
    width: 600px;
    height: 350px;
}

.s8 {
    width: 600px;
    height: 350px;
}

.s9 {
    width: 600px;
    height: 350px;
}

.s10 {
    width: 600px;
    height: 350px;
}
/* photo */


/* footer */
footer {
    background-color: #22385B;

}

.footer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_text {
    max-width: 650px;
    font-size: 30px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_contacts {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_rights {
    padding: 20px;
    color: #AAAAAA;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* footer */


@media (max-width: 425px) {
    .logo_sibir {
        width: 55px;
        height: 40px;
        padding-left: 10px;
    }
    
    .sponsor img {
        width: 70px;

    }

    .sponsor {
        align-items: center;
        width: 340px;
    }

    .header_logo {
        align-items: center;
    }

    .sostav {
        display: none;
    }

    .form {
        display: none;
    }





    .homepage {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .text_title {
        max-width: 300px;
    }

    .title{
        font-size: 1.7em;
        text-align: center
    }

    .block_info_title {
        margin-top: 10px;
    }

    .info_title {
        font-size: 90%;
        margin: 5px;
    }

    .s1 {
        width: 250px;
        height: 150px;
    }

    .s2 {
        width: 250px;
        height: 200px;
    }





     .title2 {
        font-size: 30px;
        margin-left: 41%;
        padding-top: 10px;
    }

    .info_place {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .info_text {
        max-width: 300px;
        font-size: 20px;
    }

    .info_photo {
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .s3 {
        width: 100%;
        height: 200px;
    }

    .s4 {
        width: 100%;
        height: 200px;
    }





    .title3 {
        font-size: 30px;
        margin-left: 41%;
        padding-top: 10px;
    }

    .all_photos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 400px;
    }

    .photos1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .photos2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .photos3 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .s5 {
        width: 150px;
        height: 100px;
    }

    .s6 {
        width: 150px;
        height: 100px;
    }

    .s7 {
        width: 150px;
        height: 100px;
    }

    .s8 {
        width: 150px;
        height: 100px;
    }
    
    .s9 {
        width: 150px;
        height: 100px;
    }

    .s10 {
        width: 150px;
        height: 100px;
    }





    .footer {
        height: 50px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer_text {
        max-width: 150px;
        height: 26px;
        font-size: 9px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_contacts {
        width: 150px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_rights {
        font-size: 10px;
        padding: 10px;
        color: #AAAAAA;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_contacts img {
        width: 30px;
        height: 30px;
    }
}
