@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid red !important; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: #005697;
    color: #ffffff;
}


header {
    height: 80px;
}

.header_logo {
    background-color: #22385B;
    display: flex;
}

.sponsor{
    margin: 20px;
    width: 1170px;
    display: flex;
    justify-content: space-evenly;
}

.sponsor img {
    width: 200px;
}

.logo_sibir {
    padding-left: 20px;
}

.sostav {
    color: white;
    font-size: 1.5em;
}

.homepage {
    color: white;
    font-size: 1.5em;
}

.sostav_homepage {
    margin-left: 10%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: black;
}





.title {
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 1.5em;
    padding: 1em;
    border-color: #22385B;
    color: #005697;
}

h1 {
    text-align: center;
}

.btn {
    padding: 1em;
    margin: 1.5em;
    color: #4560e5;
    background: white;
    border-color: #4560e5;
}

form {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form2 {
    height: 672px;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}





/* footer */
footer {
    background-color: #22385B;
    /* margin-top: auto; */
    height: 100px;
}

.footer {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_text {
    max-width: 500px;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_contacts {
    height: 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_rights {
    padding: 9px;
    color: #AAAAAA;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer_rights p {
    font-size: 10px;
}
/* footer */





@media (max-width: 425px) {
    .logo_sibir {
        width: 55px;
        height: 40px;
        padding-left: 70px;
    }
    
    .sponsor img {
        width: 70px;

    }

    .sponsor {
        align-items: center;
        width: 340px;
    }

    .header_logo {
        align-items: center;
    }

    .sostav_homepage {
        display: none;
    }

    .menu-small {
        background-color: #559DD5;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: fixed;
        /* background: white; */
        transform: translateX(-100%);
    }

    .menu_small_item {
        font-size: 20px;
        margin: 5px;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 4em);
    }

    .menu_small_icon {
        position: fixed;
        padding-left: 2%;
        top: 0.5em;
        left: 0.1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }





    .title {
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        margin: 1.5em;
        padding: 1em;
        border-color: #22385B;
        color: #005697;
    }

    h1 {
        text-align: center;
    }

    .btn {
        padding: 1em;
        margin: 1.5em;
        color: #4560e5;
        background: white;
        border-color: #4560e5;
    }

    form {
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .form2 {
        height: auto;
        min-height: 500px;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }





    footer {
        height: auto;
    }
    
    .footer {
        height: 47px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer_text {
        max-width: 150px;
        height: 35px;
        font-size: 9px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_contacts {
        width: 150px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_rights {
        font-size: 10px;
        padding: 8px;
        color: #AAAAAA;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_contacts img {
        width: 30px;
        height: 30px;
    }

    .footer_rights p {
        font-size: 8px;
    }
}

